@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;;
    line-height: 1.5px;
    background-color: white;
    color: black;
    margin: 0px;
    width: 100%; /* Ensure the body takes up full width */
}

header {
    display: flex; /* Make the header a flex container */
    justify-content: space-between; /* Align items to opposite ends */
    align-items: center; /* Vertically center items */
    margin:10px
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size: 1.2em;
    margin: 0; /* Remove default margin */
}

nav {
    text-align: right;
    font-size: 1.2em;
    margin: 0; /* Remove default margin */
}

a {
    color: #040404;
    margin:0 0 0 20px;
    transition: color 0.5s;
}

a:hover {
    color: #b3ff00;
}

img {
    width: 100%; /* Make the image full width */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover;
    object-position:85% 80%;
}

/*
section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 230, 0);
    font-size: 8vw;
}*/

section {
    margin: 80px 0 80px 0;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    gap: 32px 32px;
}

section h1 {
    grid-column: 4 / span 6;
    text-align: center;
    line-height: 1.6;
}

section.project img {
    grid-column: 3 / span 8;

}

@media (max-width: 768px) {
    img {
        width: 100%;
        height: 100vh; /* Set the height to 100% of the viewport height */
        object-fit:cover;
        object-position:85% 80%;
      }
    }